@mixin standard-scrollbar {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: var(--background-color, transparent);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--border-color);
        border-radius: 4px;

        &:hover {
            background: var(--primary-color);
        }
    }

    &::-webkit-scrollbar-corner {
        background: var(--container-color);
    }
}

@mixin scroll-container {
    overflow-y: auto;
    padding-right: 12px;
    @include standard-scrollbar;
}